body {
  height: 1200px;
  background: url('/../img/jurassic-background1.jpeg') no-repeat center center;
  background-size: 100% 100%;
  -moz-background-size: 100% 100%;
  -webkit-background-size: 100% 100%;
  -o-background-size: 100% 100%;
}
#game {
  display: none;
  background: rgba(141, 235, 252, .5);
}

#game-setup {
  background: rgb(141, 235, 252);
}

// .col-sm-2 {
//   border: 2px solid black;
//   background: url("/../img/trex.jpeg");
//   background-size: 100% 100%;
//   min-height: 200px;
// }

.unflipped {
  border: 2px solid black;
  background: url("/../img/trex.jpeg");
  background-size: 100% 100%;
  min-height: 200px;
  color: transparent;
}

.flipped {

  border: 2px solid black;
  background: rgba(141, 235, 252, .5);
  min-height: 200px;
  color: black;
}

.col-sm-6 {
  border: 2px solid black;
}
